html {
  box-sizing: border-box;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  
  }
 
 .header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  padding-left: 64px;
  }

.logo {
  position: absolute;
  width: 228px;
  height: 32px;
}

.logo_place_header {
  top: 30px;
 }

 .header__title {
  max-width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}
 
.header__subtitle {
  position: absolute;
  width: 338px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  top: 140px;
  height: 608px;
  width: 765px;
  z-index: 1;
  }
  
.description {
  display: flex;
   }
  
.two-columns {
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  }
  
.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  }
  
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
  
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
  
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
  }

p + two-columns__span-accent {
  margin-top: 30px;
  margin-bottom: 30px;
  }

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
 }
 
.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  }

.section-subtitle {
  margin-top: 20px;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  }

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  table-layout: fixed;
  flex-wrap: nowrap;
 }

.table__cell {
  width: 250px;
  margin-right: 0;
  margin-top: 60px;
  vertical-align: top;
}
.table__heading {
  width: 250px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  }

.table__text {
width: 250px;
margin-top: 20px;
line-height: 1.2;
font-size: 18px;
font-weight: normal;
}

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  height: 890px;
  background-color: #f2f2f2;
  overflow: hidden;
}
.feynman__title {
  margin: 0 auto; 
  width: 648px;
  font-size: 120px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}
.feynman__subtitle {
  margin: 70px auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}
.feynman__background-image {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 637px;
  width: 867px;
  z-index: 1;
}
  
.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
   }

.kaufman {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
  padding-top: 90px;
  padding-bottom: 90px;
  z-index: -1;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: 0;  
}
.table_theme_dark {
  padding-top: 80px;
  vertical-align: top;
  z-index: 1;
  margin: 0 auto;
  flex-wrap: nowrap;
  table-layout: fixed;
  }
  
 .table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    vertical-align: top;
  }


.footer {
  background-color: #1f1f1f;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 40px;
  }

.footer__coloumns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
 }

.footer__coloumn_content_copyright {
  position: relative;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
  }
  
.logo_place_footer {
  top: 0;
}

.footer__author {
  position: absolute;
  left: 0;
  bottom: 18px;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__coloumn_content_info {
  flex-direction: column;
  justify-content: flex-start;
   }

.footer__coloumn-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  }

.footer__coloumn-links {
  margin-top: 20px;
  padding-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.footer__coloumn_content_social {
  flex-direction: column;
  justify-content: flex-start;
  color: #fff;
  }
.footer__social-icon {
  size: 16px;
  margin-right: 10px;
}